<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportsTemplates</key>
	<true/>
	<key>displayName</key>
	<string>Slider</string>
	<key>ordering</key>
	<integer>13000</integer>
	<key>description</key>
	<string>Allows the user to visually select a value</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCSlider</string>
	<key>editorClassName</key>
	<string>CCBPSlider</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>User Interaction</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>userInteractionEnabled</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCSlider</string>
			<key>name</key>
			<string>CCSlider</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Background SpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Progress SpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>progressSpriteFrame</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>1</integer>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Zoom scale</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>zoomScale</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Percent</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>percent</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>100</integer>
			<key>defaultSerialization</key>
			<integer>100</integer>
			<key>displayName</key>
			<string>Max percent</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>maxPercent</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>displayName</key>
			<string>Image scale</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>imageScale</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>0</integer>
			<key>skipSerialization</key>
			<true/>
			<key>displayName</key>
			<string>State</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>state</string>
			<key>extra</key>
			<string>Normal|0|Pressed|1|Disabled|2|MouseOver|3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Normal state</string>
			<key>name</key>
			<string>Normal state</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Handle</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>handleSpriteFrame|Normal</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pressed state</string>
			<key>name</key>
			<string>Pressed state</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Handle</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>handleSpriteFrame|Highlighted</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Disabled state</string>
			<key>name</key>
			<string>Disabled state</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Handle</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>handleSpriteFrame|Disabled</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Mouse over state</string>
			<key>name</key>
			<string>Mouse over state</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Handle</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>handleSpriteFrame|MouseOver</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CCSprite9Slice</string>
			<key>name</key>
			<string>CCSprite</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>displayName</key>
			<string>Margins</string>
			<key>type</key>
			<string>Offsets</string>
			<key>name</key>
			<string>margin</string>
		</dict>
	</array>
</dict>
</plist>
