<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportsTemplates</key>
	<true/>
	<key>displayName</key>
	<string>Widget</string>
	<key>ordering</key>
	<integer>10000</integer>
	<key>description</key>
	<string>Generates events when touched</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCWidget</string>
	<key>editorClassName</key>
	<string>CCWidget</string>
	<key>properties</key>
	<array>
		<dict>
			<key>codeConnection</key>
			<true/>
			<key>displayName</key>
			<string>CCWidget</string>
			<key>name</key>
			<string>CCWidget</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<integer>2</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<integer>2</integer>
			</array>
			<key>codeConnection</key>
			<true/>
			<key>displayName</key>
			<string>Click</string>
			<key>type</key>
			<string>Block</string>
			<key>name</key>
			<string>block</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<integer>2</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<integer>2</integer>
			</array>
			<key>codeConnection</key>
			<true/>
			<key>displayName</key>
			<string>Touch</string>
			<key>type</key>
			<string>Block</string>
			<key>name</key>
			<string>blockTouch</string>
		</dict>
		<dict>
			<key>default</key>
			<string></string>
			<key>defaultSerialization</key>
			<string></string>
			<key>codeConnection</key>
			<true/>
			<key>displayName</key>
			<string>Sound File</string>
			<key>name</key>
			<string>sound</string>
			<key>type</key>
			<string>SoundFile</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CCWidget</string>
			<key>name</key>
			<string>CCWidget</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Reset to default size</string>
			<key>type</key>
			<string>Button</string>
			<key>name</key>
			<string>onSetSizeFromTexture</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>displayName</key>
			<string>User Interaction Enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>userInteractionEnabled</string>
		</dict>
	</array>
</dict>
</plist>
