<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportsTemplates</key>
	<true/>
	<key>ordering</key>
	<integer>15000</integer>
	<key>displayName</key>
	<string>Scroll list view</string>
	<key>description</key>
	<string>References a containing node, which becomes a scrollable layer.</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>className</key>
	<string>CCScrollListView</string>
	<key>editorClassName</key>
	<string>CCBScrollListView</string>
	<key>canHaveChildren</key>
	<false/>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCScrollListView</string>
			<key>name</key>
			<string>CCScrollListView</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Gravity</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>gravity</string>
			<key>extra</key>
			<string>LEFT|0|RIGHT|1|CENTER_HORIZONTAL|2|TOP|3|BOTTOM|4|CENTER_VERTICAL|5</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Magnetic</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>magnetic</string>
			<key>extra</key>
			<string>NONE|0|CENTER|1|BOTH_END|2|LEFT|3|RIGHT|4|TOP|5|BOTTOM|6</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>type</key>
			<string>CCBFile</string>
			<key>name</key>
			<string>template</string>
			<key>displayName</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<false/>
			<key>defaultSerialization</key>
			<false/>
			<key>displayName</key>
			<string>horizontal</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>horizontal</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>count</string>
			<key>displayName</key>
			<string>count</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<false/>
			<key>default</key>
			<false/>
			<key>displayName</key>
			<string>Bounces</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>bounces</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>Inertial scroll</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>inertialScroll</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<false/>
			<key>default</key>
			<false/>
			<key>displayName</key>
			<string>Scroll bar enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>scrollBarEnabled</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>displayName</key>
			<string>Clip content</string>
			<key>defaultSerialization</key>
			<true/>
			<key>default</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>clipContent</string>
		</dict>
	</array>
</dict>
</plist>
