<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>LoadingBar</string>
	<key>ordering</key>
	<integer>13500</integer>
	<key>description</key>
	<string>Show progress.</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCLoadingBar</string>
	<key>editorClassName</key>
	<string>CCBPLoadingBar</string>
	<key>propertiesOverridden</key>
	<array/>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCLoadingBar</string>
			<key>name</key>
			<string>CCLoadingBar</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Background</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>spriteFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Direction</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>direction</string>
			<key>extra</key>
			<string>LEFT|0|RIGHT|1</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Percentage</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>percentage</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>1</integer>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Image scale</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>imageScale</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CCSprite9Slice</string>
			<key>name</key>
			<string>CCSprite</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>displayName</key>
			<string>Margins</string>
			<key>type</key>
			<string>Offsets</string>
			<key>name</key>
			<string>margin</string>
		</dict>
	</array>
</dict>
</plist>
