<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Text Field</string>
	<key>ordering</key>
	<integer>12000</integer>
	<key>description</key>
	<string>Allows the user to enter text, sends events when the text finishes editing.</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCTextField</string>
	<key>editorClassName</key>
	<string>CCBPTextField</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCTextField</string>
			<key>name</key>
			<string>CCTextField</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Helvetica</string>
			<key>defaultSerialization</key>
			<string>Helvetica</string>
			<key>displayName</key>
			<string>Font name</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>fontName</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>17</integer>
				<integer>0</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>17</integer>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>fontSize</string>
			<key>displayName</key>
			<string>Font size</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Placeholder color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>placeholderFontColor</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<false/>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<false/>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Placeholder</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>placeholder</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Text Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>fontColor</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<false/>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<false/>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Text</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>string</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Alignment</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>horizontalAlignment</string>
			<key>extra</key>
			<string>Left|0|Center|1|Right|2</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>verticalAlignment</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>verticalAlignment</string>
			<key>extra</key>
			<string>Top|0|Center|1|Bottom|2</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Max length</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>maxLength</string>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>defaultSerialization</key>
			<false/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>password</string>
			<key>displayName</key>
			<string>Passwoed</string>
		</dict>
	</array>
</dict>
</plist>
