<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportsTemplates</key>
	<true/>
	<key>displayName</key>
	<string>Edit Box</string>
	<key>ordering</key>
	<integer>12500</integer>
	<key>description</key>
	<string>Allows the user to enter text, sends events when the text finishes editing.</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCEditBox</string>
	<key>editorClassName</key>
	<string>CCBPEditBox</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>User Interaction Enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>userInteractionEnabled</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCEditBox</string>
			<key>name</key>
			<string>CCEditBox</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Background</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Helvetica</string>
			<key>defaultSerialization</key>
			<string>Helvetica</string>
			<key>displayName</key>
			<string>Placeholder font name</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>placeholderFontName</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<integer>17</integer>
				<integer>0</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>17</integer>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>placeholderFontSize</string>
			<key>displayName</key>
			<string>Placeholder font size</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Placeholder color</string>
			<key>type</key>
			<string>Color4</string>
			<key>name</key>
			<string>placeholderFontColor</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<false/>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<false/>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Placeholder</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>placeholder</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Helvetica</string>
			<key>defaultSerialization</key>
			<string>Helvetica</string>
			<key>displayName</key>
			<string>Font name</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>fontName</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<integer>17</integer>
				<integer>2</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>17</integer>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>fontSize</string>
			<key>displayName</key>
			<string>Font size</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Text Color</string>
			<key>type</key>
			<string>Color4</string>
			<key>name</key>
			<string>fontColor</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<false/>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<false/>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Text</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>string</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>KeyboardReturnType</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>keyboardReturnType</string>
			<key>extra</key>
			<string>DEFAULT|0|DONE|1|SEND|2|SEARCH|3|GO|4</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>6</integer>
			<key>defaultSerialization</key>
			<integer>6</integer>
			<key>displayName</key>
			<string>InputMode</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>inputMode</string>
			<key>extra</key>
			<string>ANY|0|EMAIL_ADDRESS|1|NUMERIC|2|PHONE_NUMBER|3|URL|4|DECIMAL|5|SINGLE_LINE|6</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>3</integer>
			<key>defaultSerialization</key>
			<integer>3</integer>
			<key>displayName</key>
			<string>InputFlag</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>inputFlag</string>
			<key>extra</key>
			<string>PASSWORD|0|SENSITIVE|1|INITIAL_CAPS_WORD|2|INITIAL_CAPS_SENTENCE|3|INITIAL_CAPS_ALL_CHARACTERS|4</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Max length</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>maxLength</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CCSprite9Slice</string>
			<key>name</key>
			<string>CCSprite</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>displayName</key>
			<string>Margins</string>
			<key>type</key>
			<string>Offsets</string>
			<key>name</key>
			<string>margin</string>
		</dict>
	</array>
</dict>
</plist>
