<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportsTemplates</key>
	<true/>
	<key>ordering</key>
	<integer>10005</integer>
	<key>displayName</key>
	<string>Tiled Image</string>
	<key>description</key>
	<string>Displays tiled image</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCImage</string>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>spriteFrame</string>
	</dict>
	<key>editorClassName</key>
	<string>CCBPTiledImage</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>animatable</key>
			<false/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>blendFunc</string>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>spriteFrame</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCImage</string>
			<key>name</key>
			<string>CCImage</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>defaultSerialization</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>spriteFrame</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<array>
				<false/>
				<false/>
			</array>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>Flip</string>
			<key>name</key>
			<string>flip</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>771</integer>
			</array>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>Blendmode</string>
			<key>name</key>
			<string>blendFunc</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>displayName</key>
			<string>Image scale</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>imageScale</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CCSprite9Slice</string>
			<key>name</key>
			<string>CCSprite</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
