<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportsTemplates</key>
	<true/>
	<key>displayName</key>
	<string>Gradient Label</string>
	<key>ordering</key>
	<integer>9001</integer>
	<key>description</key>
	<string>Displays a gradient true type font label.</string>
	<key>inheritsFrom</key>
	<string>CCLabelTTF</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCGradientLabel</string>
	<key>editorClassName</key>
	<string>CCBPGradientLabel</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCGradientLabel</string>
			<key>name</key>
			<string>CCGradientLabel</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>name</key>
			<string>gradientColor1</string>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<string>1</string>
				<string>1</string>
				<string>1</string>
			</array>
			<key>displayName</key>
			<string>Gradient Start Color </string>
			<key>type</key>
			<string>Color4</string>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>name</key>
			<string>gradientColor2</string>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<string>1</string>
				<string>1</string>
				<string>1</string>
			</array>
			<key>displayName</key>
			<string>Gradient End Color </string>
			<key>type</key>
			<string>Color4</string>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<integer>0</integer>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Gradient Type</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>gradientType</string>
			<key>extra</key>
			<string>Horizontal|0|Vertical|1</string>
		</dict>
	</array>
</dict>
</plist>
