<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportsTemplates</key>
	<true/>
	<key>ordering</key>
	<integer>14000</integer>
	<key>displayName</key>
	<string>Scroll view</string>
	<key>description</key>
	<string>References a containing node, which becomes a scrollable layer.</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCScrollView</string>
	<key>editorClassName</key>
	<string>CCBPScrollView</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<string>1</string>
				<string>1</string>
				<string>2</string>
				<integer>2</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCScrollView</string>
			<key>name</key>
			<string>CCScrollView</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Content node</string>
			<key>type</key>
			<string>CCBFile</string>
			<key>name</key>
			<string>contentNode</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>displayName</key>
			<string>Horizontal scroll enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>horizontalScrollEnabled</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>displayName</key>
			<string>Vertical scroll enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>verticalScrollEnabled</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<false/>
			<key>defaultSerialization</key>
			<false/>
			<key>displayName</key>
			<string>Bounces</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>bounces</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>Inertial scroll</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>inertialScroll</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>displayName</key>
			<string>Clip content</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>clipContent</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<false/>
			<key>default</key>
			<false/>
			<key>displayName</key>
			<string>Scroll bar enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>scrollBarEnabled</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<array>
				<integer>12</integer>
				<integer>2</integer>
			</array>
			<key>displayName</key>
			<string>Scroll bar width</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>scrollBarWidth</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>default</key>
			<true/>
			<key>defaultSerialization</key>
			<true/>
			<key>displayName</key>
			<string>Scroll bar auto hide</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>scrollBarAutoHideEnabled</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>20</integer>
				<integer>20</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>defaultSerialization</key>
			<array>
				<integer>20</integer>
				<integer>20</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Scroll bar position</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>scrollBarPosition</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<array>
				<real>0.203125</real>
				<real>0.25390625</real>
				<real>0.33984375</real>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<real>0.203125</real>
				<real>0.25390625</real>
				<real>0.33984375</real>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Scroll bar color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>scrollBarColor</string>
		</dict>
		<dict>
			<key>saveInTemplate</key>
			<true/>
			<key>defaultSerialization</key>
			<real>0.4</real>
			<key>default</key>
			<real>0.4</real>
			<key>displayName</key>
			<string>Scroll bar opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>scrollBarOpacity</string>
		</dict>
	</array>
</dict>
</plist>
